@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-ms-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-ms-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

body {
    background-color: #22354c;
    color: white;
    font-family: Consolas, monospace;
}

h1 {
    position: relative;
    float: left;
    font-size: 100%;
}

h1 span {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background: #22354c; /* same as background */
    border-left: .1em solid white;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    animation: typing 6s steps(34, end), /* # of steps = # of characters */
    blink-caret 1s step-end infinite;
    -webkit-animation: typing 6s steps(34, end),
    blink-caret 1s step-end infinite;
    -moz-animation: typing 6s steps(34, end),
    blink-caret 1s step-end infinite;
}